<h2 class="flash-container"> List of Users </h2>

<ul> <% @users.each do |user| %>
  <li class="location-box">
    <%= user.email %> <%= button_to 'Delete User', user, { method: :delete, id: user.email }%>
  </li>
<% end %>
</ul>

<ul> <% @locations.each do |location| %>
  <li class="location-box">
    <%= location.name %> <%= button_to 'Delete Location', location_path(location), { method: :delete }%>
  </li>
<% end %>
</ul>


<%= link_to 'Back', locations_path, class:"back-link top-padded" %>
