<% if current_user.admin? %>
  <%= button_to "Users", users_path, { method: :get } %>
<% end %>

<%= form_tag(locations_path, :method => 'get', id: 'search-form') do %>
<%= text_field_tag :search, params[:search], placeholder: 'Search Locations' %>
<%= submit_tag 'Search' %>
<% end %>

<% if @location.nil? %>

    <h1>All Locations</h1>

    <ul>
      <% @locations.each do |location| %>
        <li><%= link_to location.name, location%></li>
      <% end %>
    </ul>
<% else %>
    <h2> Search Results: </h2>
    <% @results.each do |result| %>
      <li><%= link_to result.name, location%></li>
    <% end %>
<% end %>


<%= link_to 'Add New Location', new_location_path, method: :get %>
