<% require 'pry' %>

<h1><%= @location.name %></h1><br>
<h2><%= @location.neighborhood %></h2><br>

<h3><%= @location.address %><br>
<%= @location.city %>, <%= @location.state %> <%= @location.zip_code %></h3><br>
<h2>Reviews for <%= @location.name %></h2>
<% @reviews.each do |review| %>
  <% @votes_array = review.votes %>
  <% @vote_score = 0 %>
  <% @votes_array.each do |single_vote| %>
    <% @vote_score += single_vote.count %>
  <% end %>
  <%= Review::RATINGS[review.rating - 1][1] %><br>
  <%= review.flavor %>
  <br>
  <em><%= review.body %></em><br>
  <%= review.user.email %><br>
  <em><%= review.created_at.strftime("Reviewed on %m/%d/%Y at %I:%M%p") %></em>

    <h3><span id=<%="review-count-#{review.id}"%>><%= @vote_score %></span><span id=<%="sprinkles-#{review.id}"%>> Sprinkles</span></h3>
    <i class= "fa fa-thumbs-o-up js-upvote", id=<%="js-upvote-#{review.id}" %>, data-location = <%= @location.id %> data-review = <%= review.id %> data-user = <%= current_user.id %> data-value = "1", aria-hidden="true"></i>
    <i class="fa fa-thumbs-o-down js-downvote" id=<%="js-downvote-#{review.id}" %>,  data-location = <%= @location.id %> data-review = <%= review.id %> data-user = <%= current_user.id %> data-value = "-1", aria-hidden="true"></i>
  <br><br>
  <% if review.user_id == current_user.id && !review.id.nil? || current_user.admin? %>
    <li><%= link_to 'Delete ' + review.flavor + ' review', location_review_path(@location.id, review), { method: :delete, id: review.id} %></li>
  <% end %>
  <% if current_user.id == review.user_id && !review.id.nil? %>
    <li><%= link_to 'Edit ' + review.flavor + ' review', edit_location_review_path(@location, review), { id: review.id }%></li>
  <% end %>
  <br><br>
<% end %>

<%= link_to 'Add a Review', new_location_review_path(@location) %><br>
<%= link_to 'Back to Locations', locations_path %>
