<% require 'pry' %>

<h1><%= @location.name %></h1><br>
<h2><%= @location.neighborhood %></h2><br>

<h3><%= @location.address %><br>
<%= @location.city %>, <%= @location.state %> <%= @location.zip_code %></h3><br>

<h2>Reviews for <%= @location.name %></h2>
<% @reviews.each do |review| %>
  <%= Review::RATINGS[review.rating - 1][1] %><br>
  <%= review.flavor %>
  <br>
  <em><%= review.body %></em>

  <% @vote = Vote.find_by(review_id: review.id, user_id: current_user.id)  %>
    <% unless @vote.nil? %>
      <% if @vote.count == 1 %>
        <% @upvote = "upvote" %>
        <% @downvote = "" %>
      <% elsif @vote.count == -1 %>
        <% @upvote = "" %>
        <% @downvote = "downvote" %>
      <% else %>
        <% @upvote = "" %>
        <% @downvote = "" %>
      <% end %>
    <% end %>
    <i class= "<%= @upvote %> fa fa-thumbs-o-up js-upvote" id=<%="js-upvote-#{review.id}" %>, data-location = <%= @location.id %> data-review = <%= review.id %> data-user = <%= current_user.id %> data-value = "1", aria-hidden="true"></i>
    <i class="<%= @downvote %> fa fa-thumbs-o-down js-downvote" id=<%="js-downvote-#{review.id}" %>,  data-location = <%= @location.id %> data-review = <%= review.id %> data-user = <%= current_user.id %> data-value = "-1", aria-hidden="true"></i>
  <br><br>
  <% if review.user_id == current_user.id && !review.id.nil? || current_user.admin? %>
    <li><%= link_to 'Delete ' + review.flavor + ' review', location_review_path(@location.id, review), { method: :delete, id: review.id} %></li>
  <% end %>
  <% if current_user.id == review.user_id && !review.id.nil? %>
    <li><%= link_to 'Edit ' + review.flavor + ' review', edit_location_review_path(@location, review), { id: review.id }%></li>
  <% end %>
  <br><br>
  <% if current_user.admin? %>
    <li> <%= link_to 'Delete Review', location_review_path(review.id), { method: :delete, id: review.id }%> </li>
  <% end %>
<% end %>

<%= link_to 'Add a Review', new_location_review_path(@location) %><br>
<%= link_to 'Back to Locations', locations_path %>
