<% require 'pry' %>

<h1><%= @location.name %></h1><br>
<h2><%= @location.neighborhood %></h2><br>

<h3><%= @location.address %><br>
<%= @location.city %>, <%= @location.state %> <%= @location.zip_code %></h3><br>

<h2>Reviews for <%= @location.name %></h2>
<% @reviews.each do |review| %>
  <%= review.rating %> Scoops<br>
  <%= review.flavor %>
  <br>
  <em><%= review.body %></em>
  <% @vote = Vote.find_by(review_id: review.id, user_id: current_user.id)  %>
  <% unless @vote.nil? %>
    <% if @vote.count == 1 %>
      <% @upvote = "upvote" %>
      <% @downvote = "" %>
    <% elsif @vote.count == -1 %>
      <% @upvote = "" %>
      <% @downvote = "downvote" %>
    <% else %>
      <% @upvote = "" %>
      <% @downvote = "" %>
    <% end %>
  <% end %>
  <i class="fa fa-thumbs-o-up" id=<%=@upvote%> aria-hidden="true"></i><%= button_to '+1', upvote_review_path(review), method: :post %>
  <i class="fa fa-thumbs-o-down" id=<%=@downvote%> aria-hidden="true"></i><%= button_to '-1', downvote_review_path(review), method: :post %>
  <br><br>


<% end %>

<%= link_to 'Add a Review', new_location_review_path(@location) %><br>
<%= link_to 'Back to Locations', locations_path %>
