<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
      <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
      <% end %>
      <nav class="menu titlenav">
        <h1 class="name"><i class="fi-widget"></i> Scoop_d </a></h1>
        <ul class="inline-list hide-for-small-only account-action">
          <% if current_user %>
            <li style="color:white">Signed in as <%= current_user.email %></a></li>
            <li> <%= button_to "Sign Out", destroy_user_session_path, method: :delete %></li>
          <% end %>
        </ul>
        <a class="account hide-for-medium-up" href="#" data-reveal-id="myModal"><i class="fi-unlock"></i></a>
      </nav>


    <%= yield %>

  </body>
</html>
