<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="top_bar row">
      <div class="name">
          <h1>Scoop'd</h1>
      </div>
      <% if current_user %>
        <div class="login_name">
          <h4>Signed in as <%= current_user.email %></a></h4>
          <%= button_to "Sign Out", destroy_user_session_path, method: :delete %>
        </div>
      <% end %>
    </div>

    <%= yield %>

  </body>
</html>
